.navbar {
  .navbar-brand {
    padding: 20px;
    
    .navbar-burger {
      &:hover {
        background: transparent;
      }
    }
  }

  .navbar-brand,
  .navbar-menu {
    .navbar-link {
      font-size: rem(12px);
      color: $secondary;
      @include SemiBoldUppercase();

      &.is-active,
      &:hover {
        background-color: transparent;
      }
    }

    .homepage & {
      .navbar-link {
        color: $white;
      }
    }
  }
}
